.color-scheme1{
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
button {
  border-radius: 100px;
}
.example-full-width {
  width: 100%;
}

.aligned-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stacked-card {
  margin-top: 16px; /* Adjust the margin-top value for the desired spacing between the cards */
}

.container {
    width: 80%;
    overflow: auto;
    text-align: center;
}
mat-card {
  width: 100%;
  color: navy;
  border-radius: 20px;
}

/* Custom CSS class for the mat-form-field */
.custom-form-field {
  color: #D7D702; /* Text color */
}

/* Custom CSS class for the mat-label */
.custom-label {
  color: #577AB6; /* Label text color */
}

/* Custom CSS class for the mat-underline */
.custom-underline {
  border-color: #D2BBD2; /* Underline color */
}

/* Custom CSS class for the mat-input */
.custom-input {
  color: #D7D702; /* Input text color */
}

mat-list { overflow: auto; }

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  color: #000000; /* Change the color of the X as desired */
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
}

.close-button:hover {
  color: #F45E30; /* Change the color of the X on hover if desired */
  background-color: none;
}

.scrollable-container {
  height: 300px; /* Set a fixed height for the scrollable container */
  overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
  color: #EAD9C6;
}


.sticky-button {
  position: fixed;
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
  z-index: 999; /* Set a high z-index to ensure it's displayed on top of other elements */
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures the content is centered vertically within the viewport */
  text-align: center; /* If you want to center inline content inside the container */
}

